@use './mixins/mixin' as *;
@use './common/var' as *;

@font-face {
  font-family: '#{$namespace}-ui-icons';
  src: url('./fonts/iconfont.woff') format('woff'), url('./fonts/iconfont.ttf') format('truetype');
}

[class^='#{$namespace}-icon'],
[class*='#{$namespace}-icon'] {
  font-family: '#{$namespace}-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-loading:before {
  content: '\e608';
}

.#{$namespace}-icon-quanping:before {
  content: '\e607';
}

.#{$namespace}-icon-gonggao:before {
  content: '\e604';
}

.#{$namespace}-icon-a-shaixuan:before {
  content: '\e605';
}

.#{$namespace}-icon-hebingzhuanfa:before {
  content: '\e606';
}

@keyframes roate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//transform对行内元素不生效
.#{$namespace}-icon-loading {
  animation: roate 2s infinite linear;
  display: inline-block;
}
