@import './common/var.scss';

@font-face {
  font-family: 'l-ui-icons';
  src: url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype');
}

[class^='#{$namespace}-icon'] {
  font-family: 'l-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-icon-loading:before {
  content: '\e608';
}

.l-icon-quanping:before {
  content: '\e607';
}

.l-icon-gonggao:before {
  content: '\e604';
}

.l-icon-a-shaixuan:before {
  content: '\e605';
}

.l-icon-hebingzhuanfa:before {
  content: '\e606';
}

@keyframes roate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//transform对行内元素不生效
.#{$namespace}-icon-loading {
  animation: roate 2s infinite linear;
  display: inline-block;
}
